<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form method="post" action="#" th:action="@{/new-user}" th:object="${user}">
    <label for="#firstname">First Name</label>
    <input type="text" id="#firstname" name="firstname">
    <label for="#lastname">Last Name</label>
    <input type="text" id="#lastname" name="lastname">
    <label for="#email">Email</label>
    <input type="text" id="#email" name="email">
    <input type="submit" value="Save User">
</form>
<a href="/">Back to Main Page</a>
</body>
</html>